<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Victures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/all.min.css">
        <!-- Public -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Convert page -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/convert-page.css">
        <!-- Local -->
        <style type="text/css">
            .video-title {
                margin-top: 1rem;
                margin-bottom: 0.875rem;
                position: relative;
            }
            .video-title h5 {
                margin-bottom: 0;
                padding-right: 73px;
            }
            .video-title .title-tools {
                float: right;
                font-size: 21px;
                margin-top: 2px;
            }
            .video-title .title-tools > a {
                color: #3F8C3C;
                cursor: pointer;
                margin-left: 0.875rem;
                transition: color 0.35s;
            }
            .video-title .title-tools > a:hover {
                color: #44B35F;
            }

            .form-slider {
                align-items: center;
                display: flex;
                position: relative;
                width: 100%;
            }
            .frame-count {
                background-color: #212121BB;
                border-radius: 0.25rem;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 900;
                right: 15px;
                padding: 12px 12px 10px 12px;
                position: absolute;
                top: 15px;
                transition: background-color 0.4s, color 0.4s;
                user-select: none;
                z-index: 10;
            }
            .slide-card {
                display: none;
                position: relative;
            }
            .slide-card .frame {
                width: 100%;
            }
            .slide-card.show {
                display: block;
            }
            .slide-button {
                align-items: center;
                color: #FFFFFF;
                cursor: pointer;
                display: flex;
                font-size: 18px;
                font-weight: 800;
                height: 70%;
                padding: 0 1.5rem;
                position: absolute;
                transition: background-color 0.4s ease;
                text-decoration: none;
                user-select: none;
                z-index: 5;
            }
            .slide-button:hover {
                background-color: #00000065;
                color: #FFFFFF;
                text-decoration: none;
            }
            .slide-button[name="prev"] {
                border-top-right-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;
                left: 0;
            }
            .slide-button[name="next"] {
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                right: 0;
            }
            .subtitle {
                background-color: #FFFFFF;
                color: #454545;
                font-size: 15px;
                text-align: center;
                padding: 1rem 1.125rem;
                word-break: keep-all;
            }

            /* Fading animation */
            .fade-slide {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            @-webkit-keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
        </style>
    </head>
    <body class="basis-background-color">
        <section class="vic-page">
            <article class="vic-page-nav container-xl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/video">Victure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/video">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/convert/step/import">Convert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon</a>
                            </li>
                        </ul>
                        <form class="form-search my-2 my-lg-0">
                            <input class="basis-input input-rounded-sm search-input" type="search" placeholder="Search" aria-label="Search" />
                            <span class="search-icon"><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </nav>
            </article>
            <article class="vic-page-body container-xl" data-id="<%= id %>">
                <div class="col-lg-12">
                    <div class="video-title">
                        <div class="title-tools">
                            <a href="/"><i class="fas fa-bars"></i></a>
                            <a id="btn-youtube" data-url="<%= url %>"><i class="fab fa-youtube"></i></a>
                        </div>
                        <h5><%= title %></h5>
                    </div>
                    <div class="form-slider">
                        <span class="frame-count"></span>
                        <a class="slide-button" name="prev"><i class="fas fa-2x fa-chevron-left"></i></a>
                        <a class="slide-button" name="next"><i class="fas fa-2x fa-chevron-right"></i><i class="fas fa-2x fa-redo d-none"></i></a>
                    </div>
                    <div class="subtitle"></div>
                </div>
            </article>
        </section>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
        <!-- Public function -->
        <script src="/javascripts/public-function.js" type="text/javascript"></script>
        <!-- Local -->
        <script>
            // Video ID
            const VIDEO_ID = $('.vic-page-body').data('id');
            let TOTAL_COUNT = null;
            let SUBTITLES = null;

            // Go youtube
            $('#btn-youtube').on('click', function() {
                const href = $(this).data('url');
                window.open(href, '_blank');
            });

            // Get frames
            $.get(`/video/pictures/list?id=${VIDEO_ID}`, function(res) {
                if (res.result) {
                    TOTAL_COUNT = res.frames.length;
                    SUBTITLES = res.subtitles;

                    let index = 0;
                    for (const elem of res.frames) {
                        let slide;
                        if (index === 0) {
                            slide = `<div class="slide-card fade-slide show" data-index="${index}" data-numbering="${elem.numbering}"><img class="frame" src="${elem.frame_url}"></div>`;
                        } else {
                            slide = `<div class="slide-card fade-slide" data-index="${index}" data-numbering="${elem.numbering}"><img class="frame" src="${elem.frame_url}"></div>`;
                        }
                        $('.form-slider').append(slide);
                        index++;
                    }

                    showSlides(0);
                } else {
                    console.error(res.message);
                }
            });

            // Select frame
            $(document).on('click', '.slide-card .check', function() {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    $(this).addClass('selected');
                }
            });

            // Index
            let currentSlideIndex = 0;
            // Prev slide
            $('.slide-button[name="prev"]').on('click', function() {
                showSlides(currentSlideIndex -= 1);
            });
            // Next slide
            $('.slide-button[name="next"]').on('click', function() {
                showSlides(currentSlideIndex += 1);
            });
            // Slide function
            function showSlides(n) {
                // move slide
                const slides = document.querySelectorAll(".slide-card");

                if (n == slides.length - 1) {
                    $('.slide-button > .fa-chevron-right').addClass('d-none');
                    $('.slide-button > .fa-redo').removeClass('d-none');
                } else if (n > slides.length - 1 || n == 0) {
                    currentSlideIndex = 0;
                    $('.slide-button[name="prev"]').addClass('d-none');
                    $('.slide-button > .fa-chevron-right').removeClass('d-none');
                    $('.slide-button > .fa-redo').addClass('d-none');
                } else {
                    $('.slide-button[name="prev"]').removeClass('d-none');
                    $('.slide-button[name="next"]').removeClass('d-none');
                    $('.slide-button > .fa-chevron-right').removeClass('d-none');
                    $('.slide-button > .fa-redo').addClass('d-none');
                }

                for (const slide of slides) {
                    $(slide).removeClass('show');
                }
                $(document.querySelector(`.slide-card[data-index="${currentSlideIndex}"]`)).addClass('show');

                // Set count
                $('.frame-count').text(`${currentSlideIndex + 1} / ${TOTAL_COUNT}`);

                // Set subtitle
                $('.subtitle').text(SUBTITLES[currentSlideIndex].sentence);

                // move dot
                // var dots = document.getElementsByClassName("dot");
                // for (i = 0; i < dots.length; i++) {
                //     dots[i].className = dots[i].className.replace(" active", "");
                // }
                // slides[slideIndex-1].style.display = "block";
                // dots[slideIndex-1].className += " active";
            }
        </script>
    </body>
</html>