body {
    background-color: #E4F2ED;
}
.container-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 100%;
}
.form-login {
    width: 330px;
}
.form-login .basis-input,
.form-login .form-login-button {
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0 .175rem .28rem rgba(0,0,0,.075);
    padding: 0.75rem 1.25rem;
}
.form-login-button {
    background-color: #E88502;
    color: #FFFFFF;
}
.form-login-link {
    color: #313437;
    cursor: pointer;
    display: block;
    margin-top: 1.125rem;
    text-decoration: none;
    text-align: center;
    transition: color 0.35s;
}
.form-login-link:hover {
    color: #83807C;
    text-decoration: none;
}
.form-title {
    font-size: 31px;
    margin-bottom: 1.875rem;
    text-align: center;
}

.form-login-input {
    align-items: center;
    display: flex;
    position: relative;
}
.form-login-input .input-icon {
    color: #694920;
    font-size: 16px;
    left: 1.25rem;
    position: absolute;
    width: 16px;
}
.form-login-input .basis-input {
    padding-left: 2.875rem;
    transition: padding 0.3s ease-in-out;
}
.form-login-input .basis-input:focus {
    padding-left: 1.25rem;
}
.form-login-input .basis-input:focus + .input-icon {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}