/* Font */
@font-face {
    font-family: 'BBTreeGL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

body {
    font: 14px "NanumSquareRound", Helvetica, Arial, sans-serif;
}
.basis-background-color {
    background-color: #E4F2ED;
}
.vic-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.vic-page-body {
    flex: 1;
    position: relative;
}
/* Top navigation */
.navbar-brand {
    font-size: 1.375rem;
    font-weight: 900;
}
.form-search {
    align-items: center;
    display: flex;
    position: relative;
}
.form-search > .search-icon {
    border-right: 1px solid #04BF7B;
    color: #04BF7B;
    display: none;
    left: 8px;
    padding-right: 7px;
    padding-top: 1px;
    position: absolute;
}
.form-search > .search-input {
    background-color: #DDEBE6;
    font-size: 13px;
    transition: background-color 0.25s ease-in-out, padding 0.2s ease-in-out;
}
.form-search > .search-input:focus {
    background-color: #FFFFFF;
    padding-left: 40px;
}
.form-search > .search-input:focus + .search-icon {
    display: inline-block;
}
/* Input */
.basis-input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    background-color: #FFFFFF;
    border: 1px solid #CED4DA;
    transition: border-color 0.3s ease-in-out;
}
.basis-input:focus {
    box-shadow: none;
    outline: none;
}
.basis-input-underscore {
    border: none;
    border-bottom: 1px solid #CED4DA;
    padding-left: 0;
    padding-right: 0;
}
.basis-input-underscore:focus {
    border-color: #9EA4AA;
}
/* Button */
.basis-button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFFFFF;
    border: 1px solid #CED4DA;
    padding: 0.5rem 0.75rem;
    line-height: 1.2;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.basis-button:focus {
    outline: none;
}
.button-outline-green {
    color: #28a745;
    border-color: #28a745;
}
.button-outline-green:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.button-block {
    display: block;
    width: 100%;
}
/* Input group */
.input-group > .combination {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}
.input-group > .combination:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group > .combination:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group > .input-group-append > .basis-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    z-index: 2;
}
.input-group > .input-group-append > .basis-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.5rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
/* Label (text) */
.input-description {
    display: block;
    font-size: 1rem;
    margin-bottom: 4px;
}

/* Font size */
.font-xxs {
    font-size: 8px !important;
}
.font-xs {
    font-size: 10px !important;
}
.font-sm {
    font-size: 12px !important;
}
.font-basis {
    font-size: 14px !important;
}
.font-md {
    font-size: 16px !important;
}
.font-lg {
    font-size: 18px !important;
}
.font-xl {
    font-size: 20px !important;
}
.font-xxl {
    font-size: 10px !important;
}
/* Border-radius */
.rounded-xxs {
    border-radius: .125rem !important;
}
.rounded-xs {
    border-radius: .25rem !important;
}
.rounded-sm {
    border-radius: .375rem !important;
}
.rounded-md {
    border-radius: .5rem !important;
}
.rounded-lg {
    border-radius: .625rem !important;
}
.rounded-xl {
    border-radius: .75rem !important;
}
.rounded-xxl {
    border-radius: .875rem !important;
}
.rounded-xxxl {
    border-radius: .1rem !important;
}