<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Victures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/all.min.css">
        <!-- Public -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Convert page -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/convert-page.css">
        <!-- Loading -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/loading.css">
        <!-- Local -->
        <style type="text/css">
            .video-thumbnail-form {
                min-width: 350px;
                margin-bottom: 15px;
                position: relative;
                width: 60%;
            }
            .video-thumbnail-form .video-thumbnail {
                width: 100%;
            }

            .video-content {
                background-color: #FEFEFE;
                border-radius: 0.875rem;
                border-top-right-radius: 0;
                position: relative;
            }
            .video-content .form-title {
                background-color: #FEFEFE;
                border-top-left-radius: 0.875rem;
                border-top-right-radius: 0.825rem;
                font-size: 18px;
                margin-bottom: 0;
                line-height: 1;
                position: absolute;
                top: -2.625rem;
                right: 0;
                padding: 0.75rem 1.375rem;
            }
            .video-content-row {
                display: flex;
                padding: 0.875rem 1.125rem;
                border-bottom: 1px dashed #E7EAEC;
            }
            .video-content-subtitle,
            .video-content-detail {
                display: inline-block;
                margin-bottom: 0;
                line-height: 1.4;
            }
            .video-content-subtitle {
                font-weight: 600;
                width: 150px;
            }
            .video-content-detail {
                flex: 1;
                font-weight: 200;
            }
            .video-content-detail[name="url"],
            .video-content-detail[name="author"] {
                color: #8000AB;
                cursor: pointer;
                font-weight: 500;
                transition: color 0.4s ease-out;
            }
            .video-content-detail[name="url"]:hover,
            .video-content-detail[name="author"]:hover {
                color: #F73B0C;
            }

            #loading-info {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        </style>
    </head>
    <body class="basis-background-color">
        <section class="vic-page">
            <article class="vic-page-nav container-xl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/video">Victure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/video">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/convert">Convert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon</a>
                            </li>
                        </ul>
                        <form class="form-search my-2 my-lg-0">
                            <input class="basis-input input-rounded-sm search-input" type="search" placeholder="Search" aria-label="Search" />
                            <span class="search-icon"><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </nav>
            </article>
            <article class="vic-page-body container-xl d-flex">
                <div class="left-side">
                    <div class="form-step h-65">
                        <div class="form-step-background"></div>
                        <span class="label-step finish"><i class="fa fa-check"></i></span>
                        <span class="label-step active">2</span>
                        <span class="label-step">3</span>
                    </div>
                </div>
                <div class="right-side">
                    <div class="form-convert d-none">
                        <div class="form-info">
                            <div class="video-box">
                                <div class="video-thumbnail-form">
                                    <img class="video-thumbnail" />
                                </div>
                                <div class="video-content shadow-sm">
                                    <h5 class="form-title">Video infomation</h5>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">URL</label>
                                                <p class="video-content-detail" name="url"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">Title</label>
                                                <p class="video-content-detail" name="title"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 pr-0">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">Author</label>
                                                <p class="video-content-detail" name="author"></p>
                                            </div>
                                        </div>
                                        <div class="col-4 pl-0">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">Upload date</label>
                                                <p class="video-content-detail" name="uploadDate"></p>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-4 pr-0">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">Duration</label>
                                                <p class="video-content-detail" name="duration"></p>
                                            </div>
                                        </div>
                                        <div class="col-4 pl-0 pr-0">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">Categories</label>
                                                <p class="video-content-detail" name="categories"></p>
                                            </div>
                                        </div>
                                        <div class="col-4 pl-0">
                                            <div class="video-content-row">
                                                <label class="video-content-subtitle">View count</label>
                                                <p class="video-content-detail" name="viewCount"></p>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="video-content-row border-0">
                                                <label class="video-content-subtitle">Description</label>
                                                <p class="video-content-detail" name="description"></p>
                                            </div>
                                        </div>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                        <div class="form-button mt-3">
                            <a class="basis-button rounded-sm px-3" name="prev" href="/convert/step/import">Prev</a>
                            <a class="basis-button rounded-sm px-3" name="next" id="btn-step-next">Next</a>
                        </div>
                    </div>
                    <!-- Loading -->
                    <div id="loading-info">
                        <div class="loading-table-circle">
                            <span class="loading-message">Loading<br/>video info</span>
                            <div class="sk-chase">
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                                <div class="sk-chase-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
        <!-- Local -->
        <script>
            $(document).ready(() => {
                // Get video info (using session)
                $.ajax({
                    type: "POST",
                    url: "/convert/step/info",
                    success: function(res) {
                        if (res.result) {
                            $('.video-thumbnail').attr('src', res.message.thumbnail.url);
                            $('.video-content-detail[name="url"]').text(res.message.url);
                            $('.video-content-detail[name="title"]').text(res.message.title);
                            $('.video-content-detail[name="author"]').text(res.message.author);
                            $('.video-content-detail[name="author"]').data('url', res.message.authorUrl);
                            $('.video-content-detail[name="uploadDate"]').text(res.message.uploadDate);
                            $('.video-content-detail[name="duration"]').text(res.message.durationString);
                            $('.video-content-detail[name="duration"]').data('time', res.message.duration);
                            $('.video-content-detail[name="categories"]').text(res.message.categories);
                            $('.video-content-detail[name="viewCount"]').text(res.message.viewCount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                            $('.video-content-detail[name="description"]').text(res.message.description);

                            // Relase loading
                            $('#loading-info').addClass('d-none');
                            // Show info
                            $('.form-convert').removeClass('d-none');

                            // URL click event
                            $('.video-content-detail[name="url"]').on('click', function() {
                                const url = $(this).text();
                                window.open(url, '_blank')
                            });

                            // Author click event
                            $('.video-content-detail[name="author"]').on('click', function() {
                                const url = $(this).data('url');
                                window.open(url, '_blank')
                            });
                        } else {
                            alert("Session expiration");
                            location.href = '/convert/step/import';
                        }
                    }
                });

                // Next step
                $('#btn-step-next').on('click', function() {
                    const duration = $('.video-content-detail[name="duration"]').data('time');
                    console.log(duration);
                    if (duration > (60 * 25)) {
                        alert("현재 Beta 버전에서는 영상 길이가 최대 25분인 영상만 지원하고 있습니다.");
                    } else {
                        location.href = '/convert/step/select';
                    }
                });
            });
        </script>
    </body>
</html>