<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Victures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/all.min.css">
        <!-- Public -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Convert page -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/convert-page.css">
        <!-- Custom alert -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/alerts-css.css">
        <!-- Local -->
        <style type="text/css">
            .extract-info {
                display: flex;
            }
            .info-card {
                align-items: center;
                background-color: #F0FCF9;
                border: 1px solid #D6D9DB;
                border-radius: 0.375rem;
                display: flex;
                justify-content: space-between;
                margin-bottom: 1.125rem;
                padding: 0.625rem 0.875rem;
            }
            .info-card > h5 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 0;
                text-align: center;
            }
            .info-card > .form-label > label {
                color: #878787;
                font-size: 14px;
                margin-bottom: 0;
            }
            #selected-frame-count {
                color: #3FA648;
                font-weight: 800;
            }

            .form-frames {
                display: flex;
            }
            .frame-card {
                border: 1px solid #DADADA;
                margin-bottom: 1.5rem;
                width: 100%;
            }
            .frame-card .frame {
                width: 100%;
            }
            .frame-card .frame-info {
                display: flex;
            }
            .frame-card .frame-info > span {
                flex: 33.333%;
                text-align: center;
                padding: 0.625rem;
                user-select: none;
                width: 33.333%;
            }
            .frame-card .frame-info > .detail,
            .frame-card .frame-info > .check {
                cursor: pointer;
                transition: color 0.25s ease;
            }
            .frame-card .frame-info > .check {
                color: #CBCBCB;
            }
            .frame-card .frame-info > .check.selected {
                color: #E88502;
            }
            .frame-card .frame-info > .check:hover {
                color: #FFAF0A;
            }

            .modal-backdrop {
                opacity: 0.825 !important;
            }
            .modal-dialog {
                width: 980px;
                max-width: 1180px;
            }
            .modal-content {
                position: relative;
                width: 100%;
                background-color: transparent;
                border: none;
                outline: 0;
            }
            .frame-detail-card-bg {
                align-items: center;
                display: flex;
                height: 100%;
                justify-content: center;
                width: 100%;
            }
            .frame-detail-card {
                position: relative;
                width: 980px;
            }
            .frame-detail-card .form-slider {
                align-items: center;
                display: flex;
                position: relative;
                width: 100%;
            }
            .frame-detail-card .form-slider .frame {
                border-top-left-radius: 0.375rem;
                border-top-right-radius: 0.375rem;
                display: none;
            }
            .frame-detail-card .form-slider .frame.show {
                display: block;
            }
            .frame-detail-card .frame-content {
                background-color: #EFEFEF;
                border-bottom-left-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;
                color: #3B3B3B;
                font-size: 16px;
                text-align: center;
                padding: 1rem 1.375rem;
            }
            .frame-detail-card .frame-content > .subtitle {
                margin-bottom: 0;
            }
            /* Slide button */
            .slide-button {
                align-items: center;
                color: #FFFFFF;
                cursor: pointer;
                display: flex;
                font-size: 18px;
                font-weight: 800;
                height: 70%;
                padding: 0 1.5rem;
                position: absolute;
                transition: background-color 0.4s ease;
                text-decoration: none;
                user-select: none;
                z-index: 5;
            }
            .slide-button:hover {
                background-color: #00000065;
                color: #FFFFFF;
                text-decoration: none;
            }
            .slide-button[name="prev"] {
                border-top-right-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;
                left: 0;
            }
            .slide-button[name="next"] {
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                right: 0;
            }
            /* Fading animation */
            .fade-slide {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 0.65s;
                animation-name: fade;
                animation-duration: 0.65s;
            }
            @-webkit-keyframes fade {
                from {opacity: .65}
                to {opacity: 1}
            }
            @keyframes fade {
                from {opacity: .65}
                to {opacity: 1}
            }
        </style>
    </head>
    <body class="basis-background-color">
        <section class="vic-page">
            <article class="vic-page-nav container-xl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/video">Victure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/video">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/convert/step/import">Convert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon</a>
                            </li>
                        </ul>
                        <form class="form-search my-2 my-lg-0">
                            <input class="basis-input input-rounded-sm search-input" type="search" placeholder="Search" aria-label="Search" />
                            <span class="search-icon"><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </nav>
            </article>
            <article class="vic-page-body container-xl">
                <div class="fixed-alerts fixed-alerts_top fixed-alerts_right" id="form-alert"></div>
                <div style="padding: 0 1rem;">
                    <div class="extract-info row">
                        <div class="col-lg-6">
                            <div class="info-card">
                                <h5>Extracted frames</h5>
                                <div class="form-label">
                                    <label id="selected-frame-count"></label>
                                    <label>/</label>
                                    <label id="total-frame-count"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-button">
                                <button type="button" class="basis-button rounded-sm" id="btn-save">Save</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-frames row">
                    </div>
                </div>
            </article>
        </section>

        <!-- Modal (detail frame info) -->
        <div class="modal" id="modal-detail" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content frame-detail-card">
                    <div class="form-slider">
                        <a class="slide-button" name="prev"><i class="fa fa-2x fa-chevron-left"></i></a>
                        <a class="slide-button" name="next"><i class="fa fa-2x fa-chevron-right"></i></a>
                    </div>
                    <div class="frame-content">
                        <p class="subtitle"></p>
                    </div>
                </div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
        <!-- Public function -->
        <script src="/javascripts/public-function.js" type="text/javascript"></script>
        <!-- Custom alert -->
        <script src="/javascripts/alerts.js" type="text/javascript"></script>
        <!-- Local -->
        <script>
            let FRAMES_DATA = null;

            // Get frames
            $.ajax({
                type: "GET",
                url: "/convert/step/select/frames",
                success: function(res) {
                    if (res.result) {
                        $('#total-frame-count').text(res.frames.length);
                        $('#selected-frame-count').text(res.frames.length);

                        FRAMES_DATA = res.data;

                        let index = 1;
                        for (const elem of res.frames) {
                            const frame =   `<div class="col-lg-3 col-sm-4" style="position: relative;">
                                                <div class="frame-card">
                                                    <img class="frame" data-index="${index}" src="${elem.url}">
                                                    <div class="frame-info" data-index="${index}">
                                                        <span>${index}</span>
                                                        <span class="detail"><i class="far fa-closed-captioning"></i></span>
                                                        <span class="check selected"><i class="fa fa-check"></i></span>
                                                    </div>
                                                </div>
                                            </div>`;

                            $('.form-frames').append(frame);
                            
                            let slide = `<img class="frame fade-slide show" src="${elem.url}" data-index=${index} width="100%"/>`;
                            if (index !== 1) {
                                slide = `<img class="frame fade-slide" src="${elem.url}" data-index=${index} width="100%"/>`;
                            }
                            $('#modal-detail .form-slider').append(slide);

                            index++;
                        }
                    } else {
                        alert(res.message);
                    }
                }
            });

            // Selected frame
            $(document).on('click', '.frame-card .check', function() {
                const $this = $(this);
                const index = $this.parent().data('index');
                if ($this.hasClass('selected')) {
                    $this.removeClass('selected');
                    customAlert('default', `Unselect frames (index: ${index})`, 3000);
                } else {
                    $this.addClass('selected');
                    customAlert('default', `Select frames (index: ${index})`, 3000);
                }

                const selected = document.querySelectorAll('.check.selected').length;
                $('#selected-frame-count').text(selected);
            });

            // Index
            let currentSlideIndex = 0;
            // Slide function
            function showSlides(n) {
                // move slide
                const slides = document.querySelectorAll(".form-slider .frame");
                if (n > slides.length) {
                    currentSlideIndex = 1;
                } else if (n < 1) {
                    currentSlideIndex = slides.length;
                } else {
                    currentSlideIndex = n;
                }
                for (const slide of slides) {
                    $(slide).removeClass('show');
                }
                $(document.querySelector(`.form-slider .frame[data-index="${currentSlideIndex}"]`)).addClass('show');
                document.querySelector('#modal-detail .subtitle').textContent = FRAMES_DATA[currentSlideIndex - 1].sentence;
            }
            // Get subtitle
            $(document).on('click', '.frame-card .detail', function() {
                currentSlideIndex = $(this).parent().data('index');
                // Set detail modal
                showSlides(currentSlideIndex);
                // Show detail modal
                $('#modal-detail').modal('show');
            });
            // Prev slide
            $('.slide-button[name="prev"]').on('click', function() {
                showSlides(currentSlideIndex -= 1);
            });
            // Next slide
            $('.slide-button[name="next"]').on('click', function() {
                showSlides(currentSlideIndex += 1);
            });

            // Save
            $('#btn-save').on('click', function() {
                const selected = {};
                document.querySelectorAll('.frame-card .check').forEach(function(elem) {
                    const $this = $(elem);
                    index = $this.parent().data('index');
                    if ($this.hasClass('selected')) {
                        selected[index] = true;
                    } else {
                        selected[index] = false;
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/convert/step/save",
                    data: "selected=" + JSON.stringify(selected),
                    success: function(res) {
                        if (res.result) {
                            location.href = "/";
                        } else {
                            alert(res.message);
                        }
                    }
                });
            });
        </script>
    </body>
</html>