<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Victures</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Fontawesome -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome/css/all.min.css">
        <!-- Public -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
        <!-- Convert page -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/convert-page.css">
        <!-- Local -->
        <style type="text/css">
            .form-slider {
                align-items: center;
                display: flex;
                position: relative;
                width: 100%;
            }
            .slide-card {
                display: none;
                position: relative;
            }
            .slide-card .check {
                background-color: #212121BB;
                border-radius: 50%;
                color: #616161;
                cursor: pointer;
                font-size: 16px;
                right: 15px;
                padding: 12px 12px 10px 12px;
                position: absolute;
                top: 15px;
                transition: background-color 0.4s, color 0.4s;
                z-index: 10;
            }
            .slide-card .check:hover {
                background-color: #A1A1A1BB;
            }
            .slide-card .check.selected {
                background-color: #F3D00BD8;
            }
            .slide-card .frame {
                width: 100%;
            }
            .slide-card.show {
                display: block;
            }
            .slide-button {
                align-items: center;
                color: #FFFFFF;
                cursor: pointer;
                display: flex;
                font-size: 18px;
                font-weight: 800;
                height: 70%;
                padding: 0 1.5rem;
                position: absolute;
                transition: background-color 0.4s ease;
                text-decoration: none;
                user-select: none;
                z-index: 5;
            }
            .slide-button:hover {
                background-color: #00000065;
                color: #FFFFFF;
                text-decoration: none;
            }
            .slide-button[name="prev"] {
                border-top-right-radius: 0.375rem;
                border-bottom-right-radius: 0.375rem;
                left: 0;
            }
            .slide-button[name="next"] {
                border-top-left-radius: 0.375rem;
                border-bottom-left-radius: 0.375rem;
                right: 0;
            }

            /* Fading animation */
            .fade-slide {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            @-webkit-keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
        </style>
    </head>
    <body class="basis-background-color">
        <section class="vic-page">
            <article class="vic-page-nav container-xl">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/video">Victure</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/video">List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/convert">Convert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Coming soon</a>
                            </li>
                        </ul>
                        <form class="form-search my-2 my-lg-0">
                            <input class="basis-input input-rounded-sm search-input" type="search" placeholder="Search" aria-label="Search" />
                            <span class="search-icon"><i class="fas fa-search"></i></span>
                        </form>
                    </div>
                </nav>
            </article>
            <article class="vic-page-body container-xl">
                <div class="form-slider">
                    <a class="slide-button" name="prev"><i class="fa fa-2x fa-chevron-left"></i></a>
                    <a class="slide-button" name="next"><i class="fa fa-2x fa-chevron-right"></i></a>
                </div>
                <div>
                    <div class="form-frames mt-0">
                        <div>추출된 Frame 갯수: <label id="frame-count"></label></div>
                    </div>
                    <div class="form-button">
                        <a class="basis-button rounded-sm px-3" name="prev" href="/convert/step/info">Prev</a>
                        <a class="basis-button rounded-sm px-3 d-none" name="next" id="btn-step-next">Next</a>
                    </div>
                </div>
            </article>
        </section>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
        <!-- Bootstrap -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- Popper -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" type="text/javascript"></script>
        <!-- Public function -->
        <script src="/javascripts/public-function.js" type="text/javascript"></script>
        <!-- Local -->
        <script>
            // Get frames
            $.ajax({
                type: "GET",
                url: "/convert/step/select/frames",
                success: function(res) {
                    if (res.result) {
                        $('#frame-count').text(res.message.length);

                        let index = 0;
                        for (const elem of res.message) {
                            let slide;
                            if (index === 0) {
                                slide = `<div class="slide-card fade-slide show" data-index="${index}"><span class="slide-count"></span><span class="check"><i class="fa fa-check"></i></span><img class="frame" src="${elem}"><div class="subtitle"></div></div>`;
                            } else {
                                slide = `<div class="slide-card fade-slide" data-index="${index}"><span class="slide-count"></span><span class="check"><i class="fa fa-check"></i></span><img class="frame" src="${elem}"><div class="subtitle"></div></div>`;
                            }
                            $('.form-slider').append(slide);
                            index++;
                        }
                    } else {
                        alert(res.message);
                    }
                }
            });

            // Select frame
            $(document).on('click', '.slide-card .check', function() {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    $(this).addClass('selected');
                }
            });

            // Index
            let currentSlideIndex = 0;
            // Prev slide
            $('.slide-button[name="prev"]').on('click', function() {
                showSlides(currentSlideIndex -= 1);
            });
            // Next slide
            $('.slide-button[name="next"]').on('click', function() {
                showSlides(currentSlideIndex += 1);
            });
            // Slide function
            function showSlides(n) {
                // move slide
                const slides = document.querySelectorAll(".slide-card");
                if (n > slides.length - 1) {
                    currentSlideIndex = 0;
                } else if (n < 0) {
                    currentSlideIndex = slides.length - 1;
                }
                for (const slide of slides) {
                    $(slide).removeClass('show');
                }
                $(document.querySelector(`.slide-card[data-index="${currentSlideIndex}"]`)).addClass('show');
                // move dot
                // var dots = document.getElementsByClassName("dot");
                // for (i = 0; i < dots.length; i++) {
                //     dots[i].className = dots[i].className.replace(" active", "");
                // }
                // slides[slideIndex-1].style.display = "block";
                // dots[slideIndex-1].className += " active";
            }
        </script>
    </body>
</html>